<h1>Snake Listings</h1>

<% for listing in @listings %>
<div class="card">
  <%= image_tag listing.picture if listing.picture.attached? %>
  <p><%= listing.title %></p>
  <p><%= "#{listing.city}, #{listing.state}" %></p>
  <p><%= listing.date_of_birth %></p>
  <p><%= listing.price %></p>
        <%= form_with model: listing, local: true, method: "delete" do |form| %>
        <% if current_user.id == listing.user_id%>
          <div class="modify-icons">
              <%= submit_tag "delete", class: "icon" %>
              <%= link_to "edit", edit_listing_path(listing.id), class: "icon" %>
          </div>
        <% end %>
        <% end %>
</div>
<% end %>